name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Disable Husky for CI
        run: git config core.hooksPath /dev/null

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test
